#lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;

  visibility: hidden;

  width: 100%;
  height: 100%;

  align-items: center;
  justify-content: center;

  .lightbox--wrapper {
    display: flex;
    position: relative;

    background-color: $white-with-alpha;

    padding: 30px 30px 60px;

    width: 100%;
    max-width: 1125px;
    height: auto;

    overflow: hidden;

    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  img {
    max-width: 1024px;
    max-height: 683px;
  }

  &.active {
    display: flex;

    visibility: visible;
  }

  #lightbox--overlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;

    background-color: $overlay;

    width: 100%;
    height: 100%;
  }
}

#lightbox--image-gallery {
  margin: 0;

  padding: 0;

  list-style: none;

  li {
    display: flex;

    float: left;

    width: 1024px;
    height: 683px;

    justify-content: center;
    align-items: center;
  }
}

.lightbox--image-mask {
  position: relative;

  width: 1024px;
  height: 683px;

  overflow: hidden;
}

#lightbox--close {
  position: absolute;
  top: 5px;
  right: 5px;

  opacity: .7;

  cursor: pointer;

  width: 1.4em;
  height: 1.4em;

  text-indent: -9999px;
  text-transform: uppercase;

  color: $gray-text;

  font-size: .8em;

  &:after {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;

    background-image: $close-icon;
    background-repeat: no-repeat;
    background-size: 1.4em;

    width: 1.4em;
    height: 1.4em;

    vertical-align: top;

    content: '';
  }

  &:hover {
    opacity: 1;
  }
}

#lightbox--prev,
#lightbox--next {
  display: flex;
  position: absolute;
  top: 30px;
  bottom: 60px;

  z-index: 1;

  background-color: transparent;
  cursor: pointer;

  width: 100px;
  height: auto;

  text-indent: -9999px;

  whtite-space: nowrap;

  justify-content: center;
  align-items: center;
  -webkit-tap-highlight-color: transparent;

  span {
    display: block;

    opacity: .3;

    margin-top: -3px;

    background-position: center;
    background-size: 58px;

    width: 90px;
    height: 409px;

    vertical-align: middle;

    text-align: center;
  }

  &:hover {

    span {
      transition: all .3s ease;

      opacity: 1;
    }
  }

  &.inactive {
    display: none;
  }
}

#lightbox--prev {
  left: 0;

  span {
    background-image: $left-arrow;
    background-repeat: no-repeat;
  }
}

#lightbox--next {
  right: 0;

  span {
    background-image: $right-arrow;
    background-repeat: no-repeat;
  }
}

#lightbox--image-title {
  position: absolute;
  right: 0;
  left: 0;

  text-align: center;
}

@media screen and (max-width: 1024px) {

  #lightbox {

    img {
      max-width: 650px;
      max-height: 433px;
    }
  }

  #lightbox--image-gallery {

    li {
      width: 650px;
      height: 433px;
    }
  }

  .lightbox--image-mask {
    width: 650px;
    height: 433px;
  }
}

@media screen and (max-width: 736px) {

  #lightbox {

    .lightbox--wrapper {
      padding: 60px 0;

      max-width: 850px;
    }

    img {
      max-width: 320px;
      max-height: 213px;
    }
  }

  .lightbox--image-mask {
    width: 320px;
    height: 213px;
  }

  #lightbox--image-gallery {

    li {
      width: 320px;
      height: 213px;
    }
  }

  #lightbox--prev,
  #lightbox--next {
    display: block;
    position: absolute;
    top: auto;
    bottom: 35px;

    background-color: transparent;

    width: auto;
    height: auto;

    text-indent: 0;
    text-transform: uppercase;

    color: $gray-text;

    font-size: 2em;

    span {
      display: none;

      visibility: hidden;

      background-image: none;
    }
  }

  #lightbox--prev {
    left: 25px;
  }

  #lightbox--next {
    right: 25px;
  }

  #lightbox--close {
    opacity: 1;
  }
}
