@import 'variables';
@import 'animation';
@import 'layout';
@import 'lightbox';

body {
  line-height: 1.5em;
  color: $text-color;

  font-family: 'Helvetica Neue', sans-serif;
  font-size: 16px;
}

header {
  position: relative;

  border-bottom: 2px solid $background-color;

  h1 {
    float: left;

    letter-spacing: 1px;

    font-weight: 300;
  }

  &:after {
    display: table;

    clear: both;

    content: '';
  }
}

header,
footer {
  padding: 1.4em;
}

nav {
  position: absolute;
  right: 1.4em;

  text-align: right;

  #menu-icon {
    display: none;
    position: relative;

    margin-top: 1.5em;

    border-top: .25em solid $menu-color;
    border-bottom: .25em solid $menu-color;

    cursor: pointer;

    width: 2em;
    height: 1.2em;

    text-indent: 9999px;

    &:before {
      position: absolute;
      top: .25em;
      left: 0;

      border-top: .25em solid $menu-color;

      width: 100%;

      content: '';
    }
  }

  #menu-icon--checkbox {
    display: none;

    &:checked + #menu-icon + ul {
      display: block;
    }
  }

  ul {
    display: inline-block;
    position: relative;

    margin: 0;

    padding: 1.3em 1em 1em;

    list-style: none;

    text-indent: 0;

    li {
      display: inline-block;
    }
  }
}

#search {
  border: 1px solid $background-color;
  border-radius: 5px;

  background-color: $background-color;

  text-align: left;

  #username-search {
    display: inline-block;

    margin-left: 5px;

    outline: none;

    border: none;

    background-color: transparent;

    width: 78%;

    -webkit-appearance: none;
  }

  button {
    opacity: .7;

    outline: 0;

    border: none;

    background: transparent $search-icon center center no-repeat;

    width: 1.4em;

    text-indent: -9999px;

    -webkit-appearance: none;

    &:hover {
      opacity: 1;
    }
  }
}

#refresh-data {
  display: none;

  margin-left: 1em;

  border: 1px solid $gray-text;

  cursor: pointer;

  width: 10em;

  text-align: center;

  line-height: 29px;
  color: $menu-color;

  span {
    display: inline-block;
    position: relative;
    top: 0;
    left: 0;

    margin-right: 7px;

    border: .2em solid $menu-color;
    border-top: .2em solid transparent;
    border-right: .2em solid $menu-color;
    border-bottom: .2em solid $menu-color;
    border-radius: 50%;

    width: 1em;
    height: 1em;

    vertical-align: middle;

    &:after {
      display: block;
      position: absolute;
      top: -.3em;
      left: .75em;

      transform: translate(-15px, 0) rotate(45deg);

      border-width: 0 .4em .4em;
      border-style: solid;
      border-color: transparent transparent $menu-color;

      width: 0;
      height: 0;

      content: ' ';
    }
  }

  &.dev-mode {
    display: inline-block;
  }

  &:hover {
    color: $red;

    span {
      animation: rotate 2.5s linear infinite;

      border-color: $red;
      border-top-color: transparent;

      &:after {
        border-color: transparent transparent $red;
      }
    }
  }

  &.refreshing {

    &:hover {
      color: $green;
    }
  }
}

.loader-icon {
  display: inline-block;
  position: relative;
  top: 0;
  left: 0;

  margin-right: 7px;

  border: .2em solid $menu-color;
  border-top: .2em solid transparent;
  border-right: .2em solid $menu-color;
  border-bottom: .2em solid $menu-color;
  border-radius: 50%;

  width: 1em;
  height: 1em;

  vertical-align: middle;

  &:after {
    display: block;
    position: absolute;
    top: -.3em;
    left: .75em;

    transform: translate(-15px, 0) rotate(45deg);

    border-width: 0 .4em .4em;
    border-style: solid;
    border-color: transparent transparent $menu-color;

    width: 0;
    height: 0;

    content: ' ';
  }
}

.page-wrapper {
  margin: 0 auto -64px;

  min-height: 100%;

  &:after {
    display: block;

    height: 64px;

    content: '';
  }
}

.content-wrapper {
  padding: 20px;
}

#thumbnail-gallery {
  display: flex;

  margin: 0 auto;

  padding: 0;

  max-width: 800px;

  list-style: none;

  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  align-content: center;

  li {
    padding: 5px;

    a {
      display: block;
    }
  }

  &.error {
    flex-direction: column;
  }
}

.thumbnail {
  display: block;

  opacity: .8;

  outline: 0;

  border: none;

  -webkit-appearance: none;

  &:hover {
    opacity: 1;
  }
}

footer {
  background-color: $background-color;

  height: 64px;

  font-weight: 500;
}

p {
  font-size: 1em;
}

@media screen and (max-width: 500px) {

  nav {

    #menu-icon {
      display: inline-block;
    }

    ul {
      display: none;
      position: absolute;
      top: 3em;
      right: 0;

      width: 500px;
    }
  }
}

@media screen and (max-width: 414px) {

  #thumbnail-gallery {

    a {
      -webkit-tap-highlight-color: transparent;
    }
  }

  .thumbnail {
    opacity: 1;
  }
}

@media screen and (max-width: 320px) {

  .thumbnail {
    max-width: $mobile-thumbnail-width;
  }
}
